PORT="Your port number server"
DB_HOSTNAME="Your database hostname"
DB_USERNAME="Your database username"
DB_PASSWORD="Your database password"
DB_NAME="Your database name"
MIDTRANS_CLIENT_KEY="Your midtrans client key" # ? This client key from midtrans payment gateway in production status or sandbox status
MIDTRANS_SERVER_KEY="Your midtrans server key" # ? This server key from midtrans payment gateway  inproduction status or sandbox status